@import url('../../App.css');

.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.create-account h2 {
    margin-bottom: 20px;
    color: #333;
}

.account-box {
    width: 50%;
    box-shadow: 1px 4px 4px #0000004d;
    padding: 1.5vw;
    border-radius: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.create-account-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-vermelho);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-account-btn:hover {
    background-color: var(--cor-laranja);
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 430px) {
    .account-box {
        width: 80%;
    }
}