@import url('../../App.css');

.header-pede {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vw;

    background-color: #3e3e3e;
    position: fixed;
}

.header-pede div a {
    text-decoration: none;
    color: var(--texto-cor-claro);
    margin-right: 1.5vw;
}

.header-pede div a:hover {
    color: var(--cor-laranja);
}

.pede-icon img {
    width: 8vw;
}

.header-pede div .enter {
    background-color: var(--cor-vermelho);
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.header-pede div .enter:hover {
    background-color: var(--cor-laranja);
}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.login-btn {
    background-color: var(--cor-vermelho);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
}

.close-btn {
    background-color: grey;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

/*MEDIA*/
@media (max-width: 430px) {
    .header-pede .pede-options {
        display: none;
    }

    .header-pede {
        padding: 3vw;
    }

    .pede-icon img {
        width: 20vw;
    }
}