@import url('../../App.css');

.navigation {
    background-color: var(--cor-vermelho);
    padding: 1vw;
    width: auto;
    height: 100%;
    position: fixed;
    left: -10vw;
    transition: left 0.3s ease-in-out;
}

.navigation.open {
    left: 0;
}

.navigation section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navigation section ul li {
    padding: 1vw;
    transition: 0.2s;
}

.navigation section ul li:hover {
    background-color: var(--cor-vermelho-claro);
}

.navigation section ul li a {
    color: var(--texto-cor-claro);
    text-decoration: none;
}

.navigation section ul li.active {
    background-color: var(--cor-vermelho-claro);
}

.navigation-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    font-size: 2.5rem;
    padding: 1vw;
    cursor: pointer;
    background-color: var(--cor-vermelho-claro);
    color: var(--texto-cor-claro);
    transition: left 0.3s ease-in-out;

    opacity: 0.4;

    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.navigation.open .navigation-btn {
    left: 100%;
}

.navigation-btn:hover {
    background-color: var(--cor-vermelho);
}

/*MEDIA*/
@media (max-width: 2560px) {
    .navigation {
        width: auto;
        left: -8vw;
    }
}

@media (max-width: 1450px) {
    .navigation {
        width: auto;
        left: -10vw;
    }
}

@media (max-width: 1115px) {
    .navigation {
        width: auto;
        left: -12vw;
    }
}

@media (max-width: 840px) {
    .navigation {
        width: auto;
        left: -15vw;
    }
}

@media (max-width: 430px) {
    .navigation {
        width: auto;
        left: -33vw;
    }

    .box-nav ul {
        font-size: 5.5vw;
        padding-top: 10vw;
        gap: 5.5vw;
    }

    .navigation.open {
        left: 0;
    }

    .navigation-btn {
        font-size: 10vw;
    }

}