:root {
  /* Cores principais */
  --cor-vermelho: #D32F2F;
  --cor-laranja: #F57C00;
  --cor-amarelo: #FFEB3B;
  --cor-branco: #FFFFFF;

  /* Cores secundárias e variações */
  --cor-vermelho-claro: #FF5252;
  --cor-laranja-claro: #FF9800;
  --cor-amarelo-claro: #FFF176;

  /* Cores de texto */
  --texto-cor-claro: #FAFAFA;
  --texto-cor-escuro: #212121;

  /* Fundo */
  --fundo-primario: var(--cor-branco);
  --fundo-secundario: var(--cor-vermelho);
  --fundo-destaque: var(--cor-laranja);

  /* Borda */
  --borda-primaria: var(--cor-vermelho);
  --borda-destaque: var(--cor-amarelo);

  /*--------------- FONTES ----------------------*/

  /* Fontes principais */
  --fonte-titulo: 'Montserrat', sans-serif;
  --fonte-texto: 'Roboto', sans-serif;
  --fonte-destaque: 'Poppins', sans-serif;
  --fonte-secundaria: 'Raleway', sans-serif;

  /* Tamanhos */
  --tamanho-base: 16px;
  --tamanho-titulo-grande: 3rem;
  --tamanho-titulo: 2rem;
  --tamanho-subtitulo: 1.5rem;
  --tamanho-texto: 1rem;
  --tamanho-pequeno: 0.875rem;

  /* Pesos*/
  --peso-normal: 400;
  --peso-medio: 500;
  --peso-semi-negrito: 600;
  --peso-negrito: 700;

}

body {
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-base);
}

h1,
h2,
h3,
h4 {
  font-family: var(--fonte-titulo);
  font-weight: var(--peso-negrito);
}

h1 {
  font-size: var(--tamanho-titulo-grande);
}

h2 {
  font-size: var(--tamanho-titulo);
}

p {
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-texto);
  font-weight: var(--peso-normal);
}

.button {
  font-family: var(--fonte-destaque);
  font-weight: var(--peso-semi-negrito);
  font-size: var(--tamanho-subtitulo);
}